mat-form-field {
    width: 100%;
  }

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }

  .red {
    color: pink;
    font-size: 14px;
  }
  .blue {
    color: blue;
    font-size: 14px;
  }