<div *ngIf="loading" class="row mt-2 mb-2">
    <div class="col-md-12">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<form [formGroup]="form">
    <div class="row">
        <div class="col-md-8">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" type="text">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Address" type="text">
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="City" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" placeholder="State" type="text">
            </mat-form-field>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" placeholder="Postal Code" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="phone" formControlName="phone" type="phone">
            </mat-form-field>
        </div>
    </div>
</form>

<mat-divider></mat-divider>

<div class="row mt-3">
    <div class="col-md-12">

        <button mat-raised-button color="primary" (click)="upload($event)" class="pull-left">
            Upload
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h2> Videos For Proposal </h2>
        <table mat-table [dataSource]="videosForProposalDataSource" appearance="fill">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>Link</th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{element.link}}" target="_blank"><img src="{{ element.pictures.sizes[2].link}}"
                            alt=""></a>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h2> Videos For Venue </h2>
        <table mat-table [dataSource]="videosForVenueDataSource" appearance="fill">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>Link</th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{element.link}}" target="_blank"><img src="{{ element.pictures.sizes[2].link}}"
                            alt=""></a>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h2> Client Videos for Venue </h2>
        <table mat-table [dataSource]="clientVideosForVenueDataSource" appearance="fill">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.video.name }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.event.data.description }}</td>
            </ng-container>

            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>Link</th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{element.video.link}}" target="_blank"><img src="{{ element.video.pictures.sizes[2].link}}"
                            alt=""></a>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: clientColumns"></tr>
        </table>
    </div>
</div>