<div class="container-fluid">
    <div *ngIf="loading" class="row mt-2 mb-2">
        <div class="col-md-12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">

            <button mat-raised-button color="primary" (click)="onNewEvent()" class="pull-left">
                Create New Event
            </button>


        </div>
    </div>

    <form [formGroup]="form">
        <div class="row mb-3">
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Filter</mat-label>
                    <input matInput formControlName="filter" (keyup)="triggerFilter($event)" placeholder="Ex. ium"
                        #input>
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" (selectionChange)="triggerFilter($event)">
                        <mat-option *ngFor="let status of statuses" [value]="status.id">
                            {{status.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button (click)="reset($event)" mat-icon-button color="primary">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

        </div>
    </form>


    <div class="row">
        <div class="col-md-12">

            <table mat-table [dataSource]="eventsAsMatTableDataSource$ | async" appearance="fill" matSort
                multiTemplateDataRows>


                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="alert">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element.data.status_error" matTooltip="{{element.data.status_error}}"
                            color="warn" aria-hidden="false">error</mat-icon>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                    <td mat-cell *matCellDef="let element">{{ element.data.description }}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">{{ formatDate(element.data.date) }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">{{ dereference(element.data.status) }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="clickRow(element.id)" mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                        <div class="event-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                            <div class="box">
                                <div class="row mb-1">
                                    <div class="col-md-1">
                                        <b>Bride:</b>
                                    </div>
                                    <div class="col-md-5 space">
                                        {{element.data.bride_name}} | {{element.data.bride_email}} |
                                        {{element.data.bride_phone}}

                                    </div>
                                    <div class="col-md-1">
                                        <b>Updated:</b>
                                    </div>
                                    <div class="col-md-3 space">
                                        {{formatDateTime(element.data.status_update_date)}}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-1">
                                        <b>Groom:</b>
                                    </div>
                                    <div class="col-md-5 space">
                                        {{element.data.groom_name}} | {{element.data.groom_email}} |
                                        {{element.data.groom_phone}}
                                    </div>
                                    <div class="col-md-1">
                                        <b>Quote:</b>
                                    </div>
                                    <div class="col-md-3 space">
                                        {{element.data.quote}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">
                                        <b>Venue:</b>
                                    </div>
                                    <div class="col-md-5 space" *ngIf="element.venue">
                                        <a routerLink="/venues/{{element.venue.id}}" routerLinkActive="active"
                                            ariaCurrentWhenActive="page">{{element.venue.name}}</a> <br>
                                        {{element.venue.address}} {{element.venue.city}} {{element.venue.zip}}
                                    </div>
                                    <div class="col-md-5 space" *ngIf="!element.venue">
                                        No Venue
                                    </div>
                                    <div class="col-md-1">
                                        <div *ngIf="element.data && element.data.status_error">
                                            <b>Status Error</b>
                                        </div>
                                    </div>
                                    <div class="col-md-3 space">
                                        <div *ngIf="element.data.status_error" class="red">
                                            <mat-icon color="warn" aria-hidden="false">error</mat-icon>
                                            &nbsp;{{element.data.status_error}}
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="event-row"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="event-detail"></tr>

                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
            </table>


            <!-- </div> -->
            <!-- </div>-->


        </div>

      