<div class="container-fluid">
    <mat-accordion>
            <app-proposal></app-proposal>
            &nbsp;
            <app-precontract></app-precontract>
            &nbsp;
            <app-precontract-jotform-submission *ngIf="precontract_jotform"></app-precontract-jotform-submission>
            &nbsp;
            <app-contract></app-contract>
            &nbsp;
            <app-prewedding></app-prewedding>
            &nbsp;
            <app-prewedding-jotform-submission *ngIf="prewedding_jotform"></app-prewedding-jotform-submission>
            &nbsp;
            <app-callsheet></app-callsheet>
            &nbsp;
            <app-certificate></app-certificate>
    </mat-accordion>
</div>