table {
  width: 100%;
 

  & th {
    font-weight: bold;
    font-size: 120%;
  }
}

mat-form-field {
  width: 100%;
}

td {
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF!important;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.error {
  background-color: red;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.red {
  color: pink;
  font-size: 14px;
}
.blue {
  color: blue;
  font-size: 14px;
}
mat-form-field {
  width: 100%;
}