mat-form-field {
  width: 100%;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.red {
  color: pink;
  font-size: 14px;
}
.blue {
  color: blue;
  font-size: 14px;
}