<form [formGroup]="form">

    <h2><div style="vertical-align: middle;"><img src="assets/home.png" style="width:50px;height:50px;">&nbsp;Bride and Groom Mailing Address</div></h2>
    <div class="row">
        <div class="col-md-9">
            <mat-form-field appearance="fill">
                <mat-label>Bride and Groom Mailing Address</mat-label>
                <input matInput type="text" formControlName="mailing_address" placeholder="" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="mailing_city" placeholder="" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="mailing_state" placeholder="" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput type="text" formControlName="mailing_zip" placeholder="" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <h2><div style="vertical-align: middle;"><img src="assets/video.png" style="width:50px;height:50px;">&nbsp;Video Start</div></h2>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Videographer Start Time</mat-label>
                <input matInput placeholder="" [ngxTimepicker]="vspicker" [disableClick]="true"
                    formControlName="video_start" readonly>
                <mat-hint>HH:MM AM/PM</mat-hint>
                <ngx-material-timepicker-toggle matSuffix [for]="vspicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker [minutesGap]="10" #vspicker>
                </ngx-material-timepicker>
            </mat-form-field>
        </div>
    </div>
&nbsp;
    <div class="row">
    <div class="col-md-6">
        <mat-form-field appearance="fill">
            <mat-label>Bride Prep When / Where</mat-label>
            <textarea matInput type="textarea" rows="8" formControlName="bride_prep" placeholder=""
                autocomplete="off"></textarea>
        </mat-form-field>
    </div>
    &nbsp;
    </div>
    <div class="row">
    <div class="col-md-6">
        <mat-form-field appearance="fill">
            <mat-label>Groom Prep When / Where</mat-label>
            <textarea matInput type="textarea" rows="8" formControlName="groom_prep" placeholder=""
                autocomplete="off"></textarea>
        </mat-form-field>
    </div>
    </div>
    &nbsp;
<div class="row">
<div class="col-md-6">
    <mat-form-field appearance="fill">
        <mat-label>Schedule of the day</mat-label>
        <textarea matInput type="textarea" rows="8" formControlName="schedule" placeholder=""
            autocomplete="off"></textarea>
    </mat-form-field>
</div>
</div>
     
</form>


 