<div *ngIf="loading" class="row mt-2 mb-2">
    <div class="col-md-12">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title style="vertical-align: middle;"> 
            <div style="vertical-align: middle;"><img src="contract2.png" style="width:40px;height:40px;"> Contract </div>
        </mat-panel-title>
        <mat-panel-description class="right-aligned-header">
            <div class="{{overallStatus().class}}">{{overallStatus().text}}</div>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-accordion>
        <mat-expansion-panel #first [expanded]="this.contract.emails.length == 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Create
                </mat-panel-title>
                <mat-panel-description>
                    Details
                </mat-panel-description>
            </mat-expansion-panel-header>


            <mat-stepper [linear]="true" #stepper>
                <mat-step>

                    <ng-template matStepLabel>Create Email Preview</ng-template>

                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Client Name</mat-label>
                                    <mat-select [formControl]="client">

                                        <mat-option *ngFor="let contact of contactList"
                                            [value]="contact">{{contact.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                       
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Effective date</mat-label>
                                    <input matInput [matDatepicker]="pickered" formControlName="effective_date">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="pickered"></mat-datepicker-toggle>
                                    <mat-datepicker #pickered></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Event date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                        &nbsp;
                        <div class="row">
                            <div class="col-md-4">
                                <b>Venue:</b>&nbsp; {{venue?.name}}
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Governing Law State</mat-label>
                                    <input matInput type="text" [formControl]="governing_state" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>

                        &nbsp;
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label>Quote</mat-label>
                                    <input matInput type="text" formControlName="quote" autocomplete="off">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label>Deposit</mat-label>
                                    <input matInput type="text" formControlName="deposit" autocomplete="off">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label>Hours</mat-label>
                                    <input matInput type="text" formControlName="hours" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label># Staff</mat-label>
                                    <input matInput type="text" formControlName="count" autocomplete="off">
                                </mat-form-field>
                            </div>




                        </div>




                    </form>

                    &nbsp;
                    <div class="row">
                        <div class="col-md-12">
                            <button mat-raised-button pull-right (click)="onCreate()" [disabled]="disableCreate()" color="primary"
                                matStepperNext>Create</button>
                        </div>
                    </div>


                </mat-step>



                <mat-step label="Edit Contract">
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        &nbsp;
                        <button mat-raised-button color="primary" (click)="onCreatePreview()" matStepperNext>Create
                            Preview</button>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-12">
                            <editor editor1 [formControl]="editor" apiKey="p9ejaukcdifecl6fhwowyud2bjuqzwbyfiyhtktmxtvbx0nq"
                                [init]="{plugins: 'link', width:900, height:2200} "> </editor>
                        </div>
                    </div>

                </mat-step>

                <mat-step label="Preview Contract">
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        &nbsp;
                        
                            <button mat-raised-button pull-right (click)="onCreateEmail()"  color="primary"
                                matStepperNext>Create Email</button>
                         
                    </div>

                    &nbsp;

                    <div class="row">
                        <div class="col-md-6">
                            <div [innerHtml]="preview"></div>
                        </div>
                    </div>

                </mat-step>

                <mat-step label="Edit Email">
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        &nbsp;
                        <button mat-raised-button color="primary" (click)="onEmailCreatePreview()" matStepperNext>Create    Preview</button>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-12">
                            <editor [formControl]="email_editor" apiKey="p9ejaukcdifecl6fhwowyud2bjuqzwbyfiyhtktmxtvbx0nq"
                                [init]="{plugins: 'link', width:900, height:2200} "> </editor>
                        </div>
                    </div>

                </mat-step>

                <mat-step label="Preview Email">
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        &nbsp;
                        
                            <button mat-raised-button pull-right color="primary"
                                matStepperNext>Send Email</button>
                         
                    </div>

                    &nbsp;

                    <div class="row">
                        <div class="col-md-6">
                            <div [innerHtml]="email_preview"></div>
                        </div>
                    </div>

                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Send Email</ng-template>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Contacts</mat-label>
                                <mat-select [formControl]="contacts" multiple>
                                    <mat-select-trigger>
                                        {{contacts.value?.[0]?.name || ''}}
                                        <span *ngIf="(contacts.value?.length || 0) > 1"
                                            class="example-additional-selection">
                                            (+{{(contacts.value?.length || 0) - 1}} {{contacts.value?.length === 2 ?
                                            'other' :
                                            'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let contact of contactList" [value]="contact">{{contact.name}}
                                        {{contact.email}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Subject</mat-label>
                                <input matInput type="email" [formControl]="subject" placeholder="" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="fill">
                                <mat-label>To</mat-label>
                                <input matInput type="email" [formControl]="to" placeholder="" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        &nbsp;
                        <button [disabled]=" !this.contacts.value || this.contacts.value?.length == 0  || !preview"
                            (click)="onSend(stepper)" mat-raised-button color="primary" class="pull-left">Send</button>
                        &nbsp;
                        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                    </div>

                </mat-step>
            </mat-stepper>

        </mat-expansion-panel>

        &nbsp;
        <mat-accordion>
            <mat-expansion-panel *ngFor="let email of contract.emails">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Email
                    </mat-panel-title>
                    <mat-panel-description>

                        <b>To:</b> &nbsp; {{formatTo(email.to)}}&nbsp;&nbsp;

                        <b>Status:</b> &nbsp; {{getStatus(email)}}
                    </mat-panel-description>


                </mat-expansion-panel-header>

                <mat-tab-group dynamicHeight animationDuration="0ms">
                    <mat-tab label="Status">
                        <ng-template matTabContent>
                            <table>
                                <th>Status</th>
                                <th>Time</th>
                                <tr *ngFor="let status of email.status">
                                    <td>{{status.event}}</td>
                                    <td>{{status.ts_epoch | date : 'MMM d, y, h:mm:ss a'}}</td>


                                </tr>
                            </table>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Preview">
                        <div class="row mt-5">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div [innerHtml]="getHtml(email)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </mat-expansion-panel>
        </mat-accordion>