<div *ngIf="loading" class="row mt-2 mb-2">
    <div class="col-md-12">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>

            <div style="vertical-align: middle;"><img src="/assets/callsheet.png" style="width:50px;height:40px;">
                &nbsp; Call Sheet</div>
        </mat-panel-title>
        <mat-panel-description class="right-aligned-header">
            <div class="{{overallStatus().class}}">{{overallStatus().text}}</div>
        </mat-panel-description>
    </mat-expansion-panel-header>



    <mat-stepper [linear]="true" #stepper>
        <mat-step>

            <ng-template matStepLabel>Create Call Sheet</ng-template>

            &nbsp;
            <div class="row">
                <div class="col-md-12">
                    <button mat-raised-button pull-right (click)="onCreate()" color="primary"
                        matStepperNext>Create</button>
                        &nbsp;
                        <button *ngIf="canEdit()" mat-raised-button pull-right (click)="onEdit()" color="primary"
                        matStepperNext>Edit</button>
                </div>
            </div>

        </mat-step>

        <mat-step label="Edit">
            <div>
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="onCreatePreview()" matStepperNext>Create
                    Preview</button>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-12">
                    <editor id="edit2" [formControl]="editor" apiKey="p9ejaukcdifecl6fhwowyud2bjuqzwbyfiyhtktmxtvbx0nq"
                        [init]="{plugins: 'link', width:1000, height:2200} "> </editor>
                </div>
            </div>

        </mat-step>

        <mat-step label="Preview">
            <div>
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                &nbsp;
                <button (click)="onSend(stepper)" mat-raised-button color="primary" class="pull-left">Publish Call Sheet</button>
                &nbsp;
            </div>

            &nbsp;

            <div class="row">
                <div class="col-md-6">
                    <div [innerHtml]="preview"></div>
                </div>
            </div>



        </mat-step>

    </mat-stepper>

</mat-expansion-panel>