

<div class="row">
    <div class="col-md-8">
        <mat-form-field appearance="fill">
            <mat-label>Contact</mat-label>
            <mat-select [formControl]="contact" required>
                <mat-option *ngFor="let contact of contactList" [value]="contact">
                    {{contact.type}} : {{contact.name}} | {{contact.email}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col">
        <button mat-raised-button [disabled]="contact.pristine" color="primary" (click)="onCreate($event)" class="pull-right">Create</button>
    </div>
     
   
    
</div>

<button mat-raised-button [mat-dialog-close]="false" class="btn btn-info pull-right">Cancel</button>


