<h1>Add Video</h1>
<form autocomplete="off" [formGroup]="form">
    <div class="row mt-5">
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Video Key</mat-label>
                <input matInput placeholder="key" formControlName="videoTag" type="text">
            </mat-form-field>
        </div>

        <div class="col-md-5">
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>

        <div class="col-md-1">
            <button (click)="load($event)" mat-icon-button color="primary">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="form.get('video').value">
        <div class="row mt-3" >
            <div class="col-md-12">
                <a href="{{form.get('video').value.link}}" target="_blank"><img src="{{ form.get('video').value.pictures.sizes[2].link}}" alt=""></a>
            </div>
        </div>
        <div class="row mt-3" >
            <div class="col-md-12">
                <h2>{{form.get('video').value.name}}</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3" >
        <div class="col-md-12">
            <button mat-raised-button  color="primary" [disabled]="form.invalid" (click)="add($event)">Add</button>&nbsp;
            <button mat-raised-button  color="primary"  [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
        </div>
    </div>
    
</form>