@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import "~angular-calendar/css/angular-calendar.css";

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  
  .cal-events {
    display: none !important;
  }

  .cal-cell-row {
    height: 100%;
  }
 
  .cal-month-view .cal-header .cal-cell {
    font-size: xx-small;
    color:nb-theme(color-primary-900);
    
  }

  .cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    cursor: pointer;
    //background-color:palegoldenrod
    background-color: nb-theme(color-success-default);
  }

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 17px;
    color:nb-theme(color-primary-900);
    font-weight: bold;
  
    
  }


  .cal-month-view .cal-day-badge {
    display: none !important;
    margin-top: 0px;
    margin-left: 2px;
    display: flex;
    min-width: 0px;
    padding: 1px 3px;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 10px;
}

.cal-month-view .cal-cell {
  float: left;
  flex: 1;
  
  display: flex;
  
  
}

  .cal-month-view .cal-day-number {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    margin-top: 2px;
    margin-right: 2px;
    float:left;
    margin-bottom: 2px;
    vertical-align: bottom;
    
    color: nb-theme(text-basic-color);
}
  
  .cal-month-view .cal-day-cell {
     height: 50px;
     width: 60px;
     min-height: 0px;
     min-width: 0px;
     background: nb-theme(background-basic-color-1);
  }

  ng2-smart-table {


    .ng2-smart-actions {
 
      //display: flex;
    //  align-items: center;
     // justify-content: center;
    //  vertical-align: middle;

   
      a.ng2-smart-action {
      

        font-size: 1rem !important;
        

      
      
      }

    }

    // TODO: remove this hack, when it will be possible to identify the whole row in the edit state
   
  }

  
};

 
