<div class="container-fluid">
    <form [formGroup]="form">

        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label>Contact</mat-label>
                    <mat-select formControlName="contact" required>
                        <mat-option *ngFor="let contact of contactList" [value]="contact">
                            {{contact.type}} : {{contact.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Event Date</mat-label>
                    <input matInput [matDatepicker]="pickered" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickered"></mat-datepicker-toggle>
                    <mat-datepicker #pickered></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field appearance="fill">
                    <mat-label>Venue Details</mat-label>
                    <input matInput type="text" formControlName="venue_details" autocomplete="off">
                </mat-form-field>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Insurance Contact</mat-label>
                    <input matInput type="text" formControlName="insurance_contact" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>CIO Recipients</mat-label>
                    <input matInput type="text" formControlName="cert_recipients" autocomplete="off">
                </mat-form-field>
            </div>


        </div>

        <div mat-dialog-actions>
            <button mat-raised-button [disabled]="form.invalid || working" color="primary" (click)="onCreate($event)"
            class="pull-right">Create
            <mat-icon *ngIf="working">
                <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
            </button>
        <button mat-raised-button [mat-dialog-close]="false" 
        class="btn btn-info pull-right">Cancel</button>
          </div>
       

    </form>
</div>