<!-- <div style="display: flex; vertical-align: middle;"> -->
<div style="width: 100%;">
    <div class="row">
        <div style="display: flex; vertical-align: middle;" class="col-4 show-grid"><nb-icon icon="person-outline"></nb-icon>&nbsp;{{bride.first}} {{bride.last}}</div>
        <div style="display: flex; vertical-align: middle;" class="col-3 show-grid"><nb-icon icon="phone-outline"></nb-icon>&nbsp;{{bride.phone}}  </div>
        <div style="display: flex; vertical-align: middle;" class="col-5 show-grid"><nb-icon icon="email-outline"></nb-icon>&nbsp;{{bride.email}}</div>
    </div>
    <div class="row">
        <div  style="display: flex; vertical-align: middle;" class="col-4 show-grid"><nb-icon icon="person-outline"></nb-icon>&nbsp;{{groom.first}} {{groom.last}}</div>
        <div style="display: flex; vertical-align: middle;" class="col-3 show-grid"><nb-icon icon="phone-outline"></nb-icon>&nbsp;{{groom.phone}}</div>
        <div style="display: flex; vertical-align: middle;" class="col-5 show-grid"><nb-icon icon="email-outline"></nb-icon>&nbsp;{{groom.email}}</div>
    </div>
</div>
