 
 



<div class="row">
    <div class="col-md-3">
        <nb-button-group>
            <button (click)="onYearChange(year)" nbButton *ngFor="let year of years">{{year | date: 'yyyy' }}</button>
        </nb-button-group>
    </div>


    <div class="col-md-2">
        <h4>{{months[month]}} {{year}}</h4>
    </div>
    <div class="col-md-7">
        <nb-button-group>
            <button (click)="clearMonth()" nbButton ghost status="info"><nb-icon
                    icon="refresh-outline"></nb-icon></button>
            <button (click)="onMonthChange(month)" nbButton *ngFor="let month of months">{{month}}</button>
        </nb-button-group>
    </div>



</div>
&nbsp;


<div class="row">
    <div class="column left">
        <ng2-smart-table (edit)="onEdit($event)" class="order-table" [settings]="settings" [source]="source"
            (custom)="onCustom($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </div>
    <div class="column right">

       
<div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
     
    </div>
</div>

    </div>
</div>

<ng-template #loading>
    <div class="text-center">
        <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
        Loading events...
    </div>
</ng-template>