@import '../../@theme/styles/themes';
//@import '~@nebular/theme/styles/core/functions';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }
 

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }


}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
