 

<div class="row">
    <div class="col-md-3">
        <nb-button-group>
            <button (click)="onYearChange(year)" nbButton *ngFor="let year of years">{{year | date: 'yyyy' }}</button>
        </nb-button-group>
    </div>


    <div class="col-md-2">
        <h4>{{months[month]}} {{year}}</h4> 
    </div>
    <div class="col-md-7">
        <nb-button-group>
            <button (click)="onMonthChange(month)" nbButton *ngFor="let month of months">{{month}}</button>
        </nb-button-group>
    </div>


  
</div>



<div class="row">
    <div class="column left">
        <ng2-smart-table (edit)="onEdit($event)" class="order-table" [settings]="settings" [source]="source"
            (custom)="onCustom($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </div>
    <div class="column right">
        <h2>{{month}}</h2>
        <p>Some text..</p>
    </div>
</div>

 