<div class="row show-grid">
    <div class="col-md-9">
        <div>
            <nb-card>
                <nb-card-header>
                    Events
                </nb-card-header>

                <nb-card-body>

                    <ng2-smart-table (edit)="onEdit($event)" class="order-table" [settings]="settings" [source]="source"
                        (custom)="onCustom($event)" (deleteConfirm)="onDeleteConfirm($event)">

                    </ng2-smart-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12">
            <nb-calendar-year-picker [size]="size" [(year)]="month" (yearChange)="onYearChange($event)"> </nb-calendar-year-picker>
        </div>
        <div class="col-md-12">
            <nb-calendar-month-picker [(month)]="month" [date]="month"> </nb-calendar-month-picker>
        </div>
        <div class="col-md-12">
            <div> <nb-calendar-day-picker [(date)]="month" (dateChange)="onDateChange($event)" [visibleDate]="month"> </nb-calendar-day-picker></div>
        </div>
    </div>
</div>