<!-- <div style="display: flex; vertical-align: middle;"> -->
<div style="width: 100%;">
    <div class="row">
        <div style="display: flex; vertical-align: middle;" class="col-12 show-grid">{{value.name}}</div>
    </div>
    <div class="row">
        <div style="display: flex; vertical-align: middle;" class="col-12 show-grid">{{value.address}}</div>
    </div>
    <div class="row">   
        <div style="display: flex; vertical-align: middle;" class="col-12 show-grid">{{value.city}} {{value.state}} {{value.zip}}</div>
    </div>
   
</div>
